<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiaohx.qblog.service.blog.dao.BlogGroupInfoMapper" >
  <resultMap id="BaseResultMap" type="com.qiaohx.qblog.service.blog.model.BlogGroupInfo" >
    <id column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="BLOG_ID" property="blogId" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    GROUP_ID, GROUP_NAME, BLOG_ID, FLAG, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from blog_group_info
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </select>
  <select id="queryByBlogId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from blog_group_info
    where BLOG_ID = #{blogId,jdbcType=VARCHAR}
    and FLAG = '1'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from blog_group_info
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qiaohx.qblog.service.blog.model.BlogGroupInfo" >
    insert into blog_group_info (GROUP_ID, GROUP_NAME, BLOG_ID, 
      FLAG, CREATE_DATE, UPDATE_DATE
      )
    values (#{groupId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{blogId,jdbcType=VARCHAR}, 
      #{flag,jdbcType=CHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qiaohx.qblog.service.blog.model.BlogGroupInfo" >
    insert into blog_group_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="blogId != null" >
        BLOG_ID,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null" >
        #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiaohx.qblog.service.blog.model.BlogGroupInfo" >
    update blog_group_info
    <set >
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null" >
        BLOG_ID = #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiaohx.qblog.service.blog.model.BlogGroupInfo" >
    update blog_group_info
    set GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      BLOG_ID = #{blogId,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=CHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </update>
</mapper>