<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiaohx.qblog.service.user.dao.UserLoginCertMapper" >
  <resultMap id="BaseResultMap" type="com.qiaohx.qblog.service.user.model.UserLoginCert" >
    <id column="LOGIN_CERT_ID" property="loginCertId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CERT_TYPE" property="certType" jdbcType="CHAR" />
    <result column="LOGIN_CERT" property="loginCert" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    LOGIN_CERT_ID, USER_ID, CERT_TYPE, LOGIN_CERT, PASSWORD, FLAG, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_login_cert
    where LOGIN_CERT_ID = #{loginCertId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_login_cert
    where LOGIN_CERT_ID = #{loginCertId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qiaohx.qblog.service.user.model.UserLoginCert" >
    insert into user_login_cert (LOGIN_CERT_ID, USER_ID, CERT_TYPE, 
      LOGIN_CERT, PASSWORD, FLAG, 
      CREATE_DATE, UPDATE_DATE)
    values (#{loginCertId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{certType,jdbcType=CHAR}, 
      #{loginCert,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{flag,jdbcType=CHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qiaohx.qblog.service.user.model.UserLoginCert" >
    insert into user_login_cert
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginCertId != null" >
        LOGIN_CERT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="certType != null" >
        CERT_TYPE,
      </if>
      <if test="loginCert != null" >
        LOGIN_CERT,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginCertId != null" >
        #{loginCertId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        #{certType,jdbcType=CHAR},
      </if>
      <if test="loginCert != null" >
        #{loginCert,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiaohx.qblog.service.user.model.UserLoginCert" >
    update user_login_cert
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        CERT_TYPE = #{certType,jdbcType=CHAR},
      </if>
      <if test="loginCert != null" >
        LOGIN_CERT = #{loginCert,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LOGIN_CERT_ID = #{loginCertId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiaohx.qblog.service.user.model.UserLoginCert" >
    update user_login_cert
    set USER_ID = #{userId,jdbcType=VARCHAR},
      CERT_TYPE = #{certType,jdbcType=CHAR},
      LOGIN_CERT = #{loginCert,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=CHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where LOGIN_CERT_ID = #{loginCertId,jdbcType=VARCHAR}
  </update>
</mapper>